<figure class="card">
    <div class="card__hero">
        <img src="/{%IMAGE%}" alt="{%HERONAME%}" class="card__img">
    </div>
    <h2 class="card__name">{%HERONAME%}</h2>
    <p class="card__detail"><span class="emoji-left">🕇</span> {%MAIN%}</p>
    <p class="card__detail"><span class="emoji-left">💚</span> {%HP%}</p>
    <div class="card__footer">
        <p class="hero__popularity">#{%POPULARITY%}</p>
        <a href="/laptop?id={%ID%}" class="card__link">Click for more details<span class="emoji-right">👉</span></a>
    </div>
</figure>